body {
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
}

nav {
    margin-bottom: 30px;
}

nav a {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}