body {
    color: #2E2E2B;
    background-color: #F6F3ED;
    font-family: "Times New Roman", Times, serif;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    max-width: 900px;
}

nav {
    margin-bottom: 30px;
}

nav a {

    color: #5E7D68;

    text-decoration: none;

    margin-left: 30px;

    font-size: 18px;

}
nav a:hover {

    color: #C9794A;

}

h1 {

    font-size: 42px;

    margin: 0;

}
header {

    display: flex;

    justify-content: space-between;

    align-items: flex-end;

    padding: 20px 0;

    border-bottom: 1px solid #DDDDD7;

}


img {
    width: 100%;
}

.subtitle {

    margin-top: 5px;

    margin-bottom: 0;

    color: #66635E;

    font-style: italic;

}


.hero-image {

    width: 100%;

    border-radius: 10px;

    margin-top: 20px;

    margin-bottom: 40px;

}

.project-card {

    background: white;

    border: 1px solid #DDDDD7;

    border-radius: 8px;

    padding: 20px;

}
.project-card:hover {

    background-color: #f6f6f6;

}